.headerIcon {
  color: white;
}

.navbar-icon-visa {
  transition: filter 0.3s ease-in-out;
}

.navbar-icon-visa:hover {
  filter: brightness(85%) sepia(100%) saturate(300%) hue-rotate(60deg);
}

.navbar-icon-bus {
  transition: filter 0.3s ease-in-out;
}

.navbar-icon-bus:hover {
  filter: brightness(85%) sepia(100%) saturate(300%) hue-rotate(300deg);
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #40ff21;
}

.userHover {
  transition: background-color 0.3s ease-in-out;
}
.userHover:hover {
  color: #0237f1;
}

.userHoverRed {
  transition: background-color 0.3s ease-in-out;
}

.userHoverRed:hover {
  color: #f10202;
}

.cssbuttons-io-button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Fredoka;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 1.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.3em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: #140064;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.9em;
  right: 0em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100%);
}

.cssbuttons-io-button .icon svg {
  width: 1.2em;
  transition: transform 0.3s;
  color: #ffffff;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/*  */
.cssbuttons2-io-button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Fredoka;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 1.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.3em;
  padding-right: 3.3em;
}

.cssbuttons2-io-button .icon {
  background: #000000;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.9em;
  right: 0em;
  transition: all 0.3s;
}

.cssbuttons2-io-button:hover .icon {
  width: calc(100%);
}

.cssbuttons2-io-button .icon svg {
  width: 1.2em;
  transition: transform 0.3s;
  color: #ffffff;
}

.cssbuttons2-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons2-io-button:active .icon {
  transform: scale(0.95);
}
