.brands{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1C1C1C;
    border: 1px solid #07399E;
    position: relative;
}

.brandLogo{
    width: 40px;
    height: 40px;
    color: #4E4E4E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
