.cssbuttons-io {
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 390px;
  height: 40px;
  cursor: pointer;
  letter-spacing: 0.05em;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to right, #07399E, #07399E);
  transition: all 0.4s ease-in-out;
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
